---
- name: Verify
  hosts: all
  gather_facts: false
  tasks:
    - name: Get files in code dir
      ansible.builtin.find:
        paths: /local-share/projects
        file_type: directory
      register: fetched_projects

    - name: Create list of paths in conde dir
      ansible.builtin.set_fact:
        found_code_repos: "{{ fetched_projects.files | map(attribute='path') | list }}"

    - name: Get files in kernel dir
      ansible.builtin.find:
        paths: /usr/local/share/jupyter/kernels
        file_type: directory
      register: kernels

    - name: Create list of installed kernels
      ansible.builtin.set_fact:
        found_kernels: "{{ kernels.files | map(attribute='path') | list }}"

    - name: Get repo2kernel logs
      ansible.builtin.shell: cat /local-share/projects/*/*.log
      register: logfiles

    - name: Assertions
      ansible.builtin.assert:
        that:
          - "'/local-share/projects/doi10.7910DVNOWVFCE' in found_code_repos"
          - "'/local-share/projects/requirements.git' in found_code_repos"
          - "'/local-share/projects/conda.git' in found_code_repos"
          - "'/local-share/projects/demo-julia.git' in found_code_repos"
          - "'/usr/local/share/jupyter/kernels/python-requirements' in found_kernels"
          - "'/usr/local/share/jupyter/kernels/python-conda' in found_kernels"
          - "'/usr/local/share/jupyter/kernels/julia-demo-julia-1.12' in found_kernels"
          - "'/usr/local/share/jupyter/kernels/python-v3.13' in found_kernels"
          - "'/usr/local/share/jupyter/kernels/r-v4.5.1' in found_kernels"
          - '"repo2kernel is aborting" not in logfiles.stdout'
