#!/bin/bash
# {{ transferuser_command }}
# option "on" installs new public key for user {{ transferuser_name }}
# option "off" only removes an existing public key 

TUSER={{ transferuser_name }}
OPT=$1

# always disable the last known key
if [ -e /home/${TUSER}/.ssh/authorized_keys ] 
then
	sudo rm /home/${TUSER}/.ssh/authorized_keys
	echo "An earlier transfer key existed, which is now disabled"
fi

if [[ ${OPT} == 'on' || ${OPT} == '' ]]
then

	echo "Please (cancel or) enter the new transfer key that you wish to activate:"
	read -r TKEY
	echo ${TKEY}|sudo tee /home/${TUSER}/.ssh/authorized_keys >/dev/null
	sudo chmod 644 /home/${TUSER}/.ssh/authorized_keys
fi



