[Desktop Entry]
Name=Matlab-Activate
Exec={{ matlab_dir }}/{{ matlab_version }}/bin/activate_matlab.sh
Icon={{ app_name }}
Terminal=false
StartupNotify=true
Type=Application
Categories=Development;Math;Science
