[Desktop Entry]
Encoding=UTF-8
Name=Agisoft Metashape{{ agisoft_version }}
Exec=bash -ic "metashape.sh"
Icon={{ desktopfile_app_name }}
Terminal=false
StartupNotify=true
Type=Application
Categories=Development;Science
