---
- name: Install R for Debian
  ansible.builtin.apt:
    name: r-base
    update_cache: true
    state: present

- name: Install R dev
  ansible.builtin.apt:
    name: r-base-dev
    state: present

- name: Install RStudio
  ansible.builtin.apt:
    deb: "{{ rstudio_links['Ubuntu'][ansible_distribution_release][rstudio_kind] }}"
    state: present
