---
- name: Update extra packages
  ansible.builtin.package:
    name: epel-release
    state: present

- name: Install R and RStudio
  ansible.builtin.package:
    name:
      - R
      - "{{ rstudio_links['RedHat'][rstudio_kind] }}"
    state: present
