#!/bin/bash
MATLAB_LIC=`find ${HOME}/.matlab/{{ matlab_version }}_licenses -type f 2>/dev/null|head -n 1`
if [ -n "${MATLAB_LIC}" -a  -r "${MATLAB_LIC}" ] ;then
  # use activated per-user license
  {{ matlab_dir }}/{{ matlab_version }}/bin/matlab -c $MATLAB_LIC $@
else
  # use network server license
  {{ matlab_dir }}/{{ matlab_version }}/bin/matlab
fi

