[Desktop Entry]
Name=Matlab-Deactivate
Exec={{ matlab_dir }}/{{ matlab_version }}/bin/deactivate_matlab.sh
Icon={{ app_name }}
Terminal=false
StartupNotify=true
Type=Application
Categories=Development;Math;Science
