---
platforms:
  # - name: workspace-src-ubuntu_focal-desktop
  #   image: ghcr.io/utrechtuniversity/src-test-workspace:ubuntu_noble-desktop-pilot
  #   pre_build_image: true
  #   registry:
  #     url: $DOCKER_REGISTRY
  #     credentials:
  #       username: $DOCKER_USER
  #       password: $DOCKER_PW
  - name: workspace-src-ubuntu_jammy-desktop
    image: ghcr.io/utrechtuniversity/src-test-workspace:ubuntu_jammy-desktop
    pre_build_image: true
    registry:
      url: $DOCKER_REGISTRY
      credentials:
        username: $DOCKER_USER
        password: $DOCKER_PW
provisioner:
  name: ansible
  env:
    components:
      - name: agisoft
        path: agisoft.yml
        parameters:
          license: |
            FOO
            BAR
