[Desktop Entry]
Encoding=UTF-8
Name=Anaconda{{ anaconda_python_version }}
Exec=anaconda-navigator
Icon={{ app_name }}
Terminal=false
StartupNotify=true
Type=Application
Categories=Development;Science
