[Desktop Entry]
Encoding=UTF-8
Name=Anaconda{{ anaconda_python_version }}
Exec=bash -ic "anaconda-navigator"
Icon={{ desktopfile_app_name }}
Terminal=false
StartupNotify=true
Type=Application
Categories=Development;Science
