---
- name: Install iBridges GUI
  when: fact_desktop_workspace
  ansible.builtin.include_tasks: gui.yml

- name: Install iBridges GUI to systemwide location
  when: fact_desktop_workspace
  ansible.builtin.include_role:
    name: pipx_install_systemwide
  vars:
    pipx_install_systemwide_package: ibridgesgui
    pipx_install_systemwide_use_uv: true
    pipx_install_systemwide_options:
      include_deps: true
    pipx_install_systemwide_python: "{{ ibridges_python_path | default('/usr/bin/python3') }}"
    pipx_install_systemwide_extra_packages: "{{ ibridges_install_plugins + ibridges_install_plugins_gui }}"

- name: Install iBridges CLI to systemwide location
  when: not fact_desktop_workspace
  ansible.builtin.include_role:
    name: pipx_install_systemwide
  vars:
    pipx_install_systemwide_use_uv: true
    pipx_install_systemwide_package: ibridges
    pipx_install_systemwide_python: "{{ ibridges_python_path | default('/usr/bin/python3') }}"
    pipx_install_systemwide_extra_packages: "{{ ibridges_install_plugins }}"
