---
- name: Install iselect
  copy:
    src: iselect.py
    dest: /usr/bin/iselect
    mode: "0755"

- name: Install file indicated by iselect-file as zone list
  copy:
    src: "{{ irods_iselect_file }}"
    dest: /etc/irods_zones.json
    mode: "0644"
  when: irods_iselect_file is defined
