---
- name: Install pyenv dependencies, yum package manager
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - zlib-devel
    - bzip2
    - bzip2-devel
    - readline-devel
    - sqlite
    - sqlite-devel
    - openssl-devel
    - xz
    - xz-devel
    - libffi-devel
  when: ansible_pkg_mgr == 'yum'

- name: Install pyenv dependencies, apt package manager
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - build-essential
    - libssl-dev
    - zlib1g-dev
    - libbz2-dev
    - libreadline-dev
    - libsqlite3-dev
    - wget
    - curl
    - llvm
    - libncurses5-dev
    - libncursesw5-dev
    - xz-utils
    - tk-dev
    - libffi-dev
    - liblzma-dev
    - python-openssl
  when: ansible_pkg_mgr == 'apt'

- name: Add pyenv install to runonce config
  copy:
    src: pyenv-install.sh
    dest: /etc/runonce.d/01_pyenv-install.sh
    mode: "0755"
