---
- name: Install snap desktop apps
  when: fact_desktop_workspace
  community.general.snap:
    classic: true
    name:
      - codium

- name: Install run_and_pause script
  ansible.builtin.template:
    src: templates/run_and_pause.sh.j2
    dest: /usr/local/bin/run_and_pause
    mode: "0755"
    owner: "root"
    group: "root"
