#!/bin/bash
set -e

{% if install_userspace -%}
MINICONDA_DEST=~/miniconda
if [[ ! -d "$MINICONDA_DEST" ]]; then
    echo "Installing miniconda"
    {{ miniconda_download_dest }}/{{ miniconda_install_script }} -b -p "$MINICONDA_DEST"
fi
{% else -%}
MINICONDA_DEST="{{ miniconda_install_dir }}"
{% endif -%}

{% if auto_init -%}
echo "Running miniconda init"
#
{{ miniconda_conda_init }}
#
# In case conda does not recognize the shell, it needs to be specified like below
# {{ miniconda_conda_init }} bash
{% else -%}
# Add miniconda/condabin (but not miniconda/bin) to the user's bash path so they can manually run `conda init`
# Note: we assume the user's shell is bash!
if [[ -z $PATH ]]; then
    # If $PATH is empty, create it
    echo "export PATH=\"$MINICONDA_DEST/condabin\"" >> ~/.bash_profile
    export PATH="$MINICONDA_DEST/condabin"
else
    # Else append to $PATH
    echo "export PATH=\"\$PATH:$MINICONDA_DEST/condabin\"" >> ~/.bash_profile
    export PATH="$PATH:$MINICONDA_DEST/condabin"
fi
{% endif -%}