#!/bin/bash
set -eo pipefail

{% if install_userspace -%}
MINICONDA_DEST=~/miniconda
if [[ ! -d "$MINICONDA_DEST" ]]; then
    echo "Installing miniconda"
    {{ miniconda_download_dest }}/{{ miniconda_install_script }} -b -p "$MINICONDA_DEST"
fi
{% endif -%}

{% if auto_init -%}
echo "Running miniconda init"
{{ miniconda_conda_init }}
{% endif -%}
