#!/bin/bash
set -e

{% if install_userspace -%}
MINICONDA_DEST=~/miniconda
if [[ ! -d "$MINICONDA_DEST" ]]; then
    echo "Installing miniconda"
    {{ miniconda_download_dest }}/{{ miniconda_install_script }} -b -p "$MINICONDA_DEST"
fi
{% else -%}
MINICONDA_DEST="{{ miniconda_install_dir }}"
{% endif -%}

{% if auto_init -%}
echo "Running miniconda init"
#
{{ miniconda_conda_init }}
#
# In case conda does not recognize the shell, it needs to be specified like below
# {{ miniconda_conda_init }} bash
{% else -%}
# Add miniconda/condabin (but not miniconda/bin) to the user's path so they can manually run `conda init`

if [[ -n "$ZSH_VERSION" ]]; then
  RC_FILE=~/.zshrc
else
  # Assume bash, since runonce supports only zsh and bash anyway.
  RC_FILE=~/.bashrc
fi

EXPORT_MINICONDA_PATH="export PATH=\"$MINICONDA_DEST/condabin\${PATH:+:\${PATH}}\""
eval "$EXPORT_MINICONDA_PATH" # export for the current shell
echo "$EXPORT_MINICONDA_PATH" >> "$RC_FILE"
{% endif -%}
