{
  "irods_port": 1247,
  "irods_authentication_scheme": "pam",
  "irods_encryption_algorithm": "AES-256-CBC",
  "irods_encryption_key_size": 32,
  "irods_encryption_num_hash_rounds": 16,
  "irods_encryption_salt_size": 8,
  "irods_client_server_negotiation": "request_server_negotiation"
}
