[Unit]
Description=Jypyter Hub daemon
After=network.target

[Service]
Type=simple
ExecStart={{ jupyterhub_venv }}/bin/jupyterhub --config={{ jupyterhub_config_dir }}/jupyterhub_config.py
Restart=on-failure
RestartSec=42s
User={{ jupyterhub_user }}
Environment=PATH=/usr/local/bin:{{ jupyterhub_venv }}/bin:/usr/bin/:/bin
[Install]
WantedBy=multi-user.target
{% if jupyterhub_enable_unix_socket %}
ExecStartPre=-/usr/bin/find {{ jupyterhub_public_rundir }} {{ jupyterhub_rundir }} -maxdepth 1 -type s -name '*.sock' -delete
ExecStopPost=-/usr/bin/find {{ jupyterhub_public_rundir }} {{ jupyterhub_rundir }} -maxdepth 1 -type s -name '*.sock' -delete
{% endif %}
