---
driver:
  name: ${DRIVER-podman}
  image_settings: &image_settings
    pre_build_image: true
    registry:
      url: $DOCKER_REGISTRY
      credentials:
        username: $DOCKER_USER
        password: $DOCKER_PW
provisioner:
  name: ansible
  playbooks:
    converge: ./converge.yml
  env:
    ANSIBLE_ROLES_PATH: ../../../
role_name_check: 1
platforms:
  - name: workspace-src-ubuntu_focal-desktop
    image: ghcr.io/utrechtuniversity/src-test-workspace:ubuntu_noble-pilot-desktop
    <<: *image_settings
  - name: workspace-src-ubuntu_jammy-desktop
    image: ghcr.io/utrechtuniversity/src-test-workspace:ubuntu_jammy-desktop
    <<: *image_settings
