[Unit]
Description=Start unattended upgrades timers {{ security_updates_delay_time }}m after boot.

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=*:0/{{ security_updates_delay_time }}
Persistent=true