# Requirements specifically for JupyterLab and extensions should go here.
# Specify the version of packages to be installed in this file, so Dependabot can keep track of updates.
# The role uses this file to determine the version of these packages to be installed.
# Dependabot will automatically open PRs when newer version are released.
# The PRs will trigger the tests, so we will automatically see if the new version is still compatible with this role.
# The Dependabot config file is in .github/dependabot.yml

jupyterlab==4.*
jupyterlab-git==0.*
