---
driver:
  name: ${DRIVER-podman}
  image_settings: &image_settings
    pre_build_image: true
    registry:
      url: $DOCKER_REGISTRY
      credentials:
        username: $DOCKER_USER
        password: $DOCKER_PW
platforms:
  - name: workspace-src-ubuntu_desktop
    image: ghcr.io/utrechtuniversity/src-test-workspace:ubuntu_noble-desktop-pilot
    <<: *image_settings
provisioner:
  name: ansible
  env:
    components:
      - name: anaconda
        path: anaconda.yml
        parameters:
          anaconda_url: https://repo.anaconda.com/archive/Anaconda3-2024.06-1-Linux-x86_64.sh
