#!/bin/bash
#
echo "Adding asreview command function that launches virtualenv"
#
~/bin/conda init
#
# In case conda does not recognize the shell, it needs to be specified like below
# ~/bin/conda init bash
