#!/bin/bash
#
echo "Adding asreview command function that launches virtualenv"
#
{{ miniconda_conda_init }}
#
# In case conda does not recognize the shell, it needs to be specified like below
# {{ miniconda_conda_init }} bash
