---
- name: Install ASReview as server app
  hosts: localhost
  gather_facts: true
  vars:
    # Used to install e.g. ASReview Nemo in a separate catalog item:
    _asreview_extra_pkgs: "{{ asreview_extra_pkgs | default('') | split(',') | map('trim') | select }}"
    _asreview_use_storage: "{{ asreview_use_storage | default('true', true) | bool }}"
  roles:
    - role: default_group
      vars:
        default_group_group:
          groupname: asreview_user
    - role: asreview_server
      vars:
        asreview_server_group: asreview_user
        asreview_server_extra_pkgs: "{{ _asreview_extra_pkgs }}"
        asreview_server_use_storage: "{{ _asreview_use_storage }}"
        asreview_server_default_email_domain: "{{ asreview_workspace_fqdn | default('localhost', true) }}"
