---
- name: ensure java runtime is installed
  package:
    name: default-jre
    state: present

- name: create keycloak user
  user:
    name: keycloak

- name: create keycloak target dir
  file:
    dest: "{{ keycloak_dir }}"
    state: directory
    mode: "0755"
    owner: root
    group: root

- name: download keycloak tar
  get_url:
    url: "{{ keycloak_tardir }}{{ keycloak_tarfile }}"
    dest: "{{ keycloak_dir }}"

- name: extract keycloak tar
  unarchive:
    src: "{{ keycloak_dir }}{{ keycloak_tarfile }}"
    dest: "{{ keycloak_dir }}"
    remote_src: true
    owner: keycloak
    group: keycloak

- name: add keycloak log dir
  file:
    dest: "{{ keycloak_jboss_log }}"
    mode: "0755"
    owner: keycloak
    group: keycloak
    state: directory

- name: keycloak data directory
  file:
    dest: "{{ keycloak_jboss_home }}/standalone/data"
    mode: "0755"
    owner: keycloak
    group: keycloak
    state: directory

- name: keycloak tmp directory
  file:
    dest: "{{ keycloak_jboss_home }}/standalone/tmp"
    mode: "0755"
    owner: keycloak
    group: keycloak
    state: directory

# todo: check, not sure if below task is such a good idea?
# - name: make keycloak config dir readable
#   file:
#    dest: "{{ keycloak_jboss_home }}/standalone/configuration"
#    mode: 0755
#    owner: keycloak
#    group: keycloak
#    state: directory
#    recurse: yes

- name: add keycloak as a service to systemd
  template:
    owner: root
    group: root
    mode: "0644"
    src: keycloak.service.j2
    dest: /etc/systemd/system/keycloak.service

- name: enable keycloak
  systemd:
    name: keycloak
    enabled: true

- name: start keycloak service
  systemd:
    name: keycloak
    state: started

- name: install desktop launcher
  include: desktop.yml

- name: create admin user
  include: admin.yml
  when: keycloak_create_admin
