[Desktop Entry]
Encoding=UTF-8
Name=iBridges
Exec={{ ibridges_gui_python_path }} /usr/local/bin/ibridges-gui
Icon={{ desktopfile_app_name }}
Terminal=False
Type=Application
Categories=Development;Science
